<div class="container-fluid" data-ng-init="init()">

	<div class="row">
		<div class="col-md-12 overflow">
			<div class="row">
				<div class="col-md-10">
					<h1> Say Hello to Vetbot</h1>
					<div class="alert alert-warning" role="alert">Vetbot is only temporary and has been created to present to you information provided by the applicant for you to refer to when vetting their application using the paper-based checksheet. Vetbot is not a part of the Vizbot platform</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 margin-top-10px">
					<input class="input-lg input-block" ng-model="searchText" placeholder="Search for a project">
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<h3>New Submissions</h3>
				</div>
			</div>
			<div class="row margin-top-20px">
				<div class="col-md-12">

					<div class="table-responsive" >
						<table class="table table-condensed">
							<thead class="tableHead"> 
								<tr class="tableHead">
									<th valign="middle" class="th-height ">Submission Name</th>
									<th class="th-height">Client</th> 
									<th class="th-height">Location</th>
									<th class="th-height">Council Reference</th>
									<th class="th-height">Status</th>
									<th class="th-height"></th>
								</tr>
							</thead>
							<tbody> 
								<tr ng-repeat="consent in submissions | filter:searchText" class="tableLine">
									<td class="tableLine">{{consent.title}}</td>
									<td class="tableLine">{{consent.client.name}}</td> 
									<td class="tableLine">{{consent.address}}</td>
									<td class="tableLine">{{consent.councilRef}}</td>
									<td class="tableLine">{{consent.status}}</td>
									<td class="tableLine"><a href="#/details"><button type="button" class="btn btn-primary btn-lg pull-right" ng-click="details(consent._id)">
										View
									</button></a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>